/* html {
  font-size: 62.5%;
} */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(
    90deg,
    #29cc29 0%,
    #54d423 25%,
    #73dc1c 50%,
    #8ee416 75%,
    #a8eb12 100%
  );
}
